@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #171527;
}

.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	box-shadow: 0 10px 12px rgb(0 0 0 / 0.15);
}

.currWrapper {
	padding: 20px;
	text-align: center;
	color: #fff;
	pointer-events: none;
}

.firstCurrency {
	background: #2a2843;
	border-bottom: 2px solid #353252;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.secondCurrency {
	background: #222037;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.text_wrapper {
	width: 40%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.secondCurrency .text_wrapper {
	pointer-events: auto;
}

.nameAbbr_wrapper {
	text-align: left;
}

.flag {
	height: 50px;
	margin: 0 5px;
}

.flag img {
	width: 50px;
	border-radius: 50%;
}

.abbr {
	font-weight: bold;
}

.currName {
	font-size: 12px;
}

.icon {
	margin-left: auto;
}

.info_wrapper {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px auto;
}

.icon i {
	pointer-events: all;
	cursor: pointer;
	color: #fadc9c;
	-webkit-transition: .125s;
	-o-transition: .125s;
	transition: .125s;
}

.icon i:hover {
	color: #eec570;
}


/* iziModal */

.iziModal {
	background: #21202f !important;
	border-bottom: none !important;
	font-family: 'Montserrat', sans-serif;
}

.iziModal .iziModal-header-title {
	font-family: 'Montserrat', sans-serif;
}

.iziModal .iziModal-header-subtitle {
	font-family: 'Montserrat', sans-serif;
}

.iziModal-header {
	background: #12121a !important;
}

#currencyList {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	color: #ffae4d;
}

.currencyChoice {
	display: inline-block;
	cursor: pointer;
	-webkit-transition: .125s;
	-o-transition: .125s;
	transition: .125s;
}

.currencyChoice:hover {
	background: #12121a;
}

.currencyWrapper {
	display: flex;
	align-items: center;
}

.currencyWrapper img {
	margin-left: 10px;
}

.currencyExtraWrapper {
	margin-left: 5px;
}

.currencyExtra {
	font-weight: 700;
	font-size: 12px;
	color: #a87231;
}

.currencySymb {
	font-size: 9px;
}

.custom-input {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 23px;
	pointer-events: all;
	color: rgb(255 255 255 / 0.6);
	background: transparent;
	padding: 5px;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgb(255 255 255 / 0.1);
	outline: none;
	-webkit-transition: .125s;
	-o-transition: .125s;
	transition: .125s;
}

.custom-input:focus {
	border-bottom: 1px solid rgb(255 255 255 / 0.3);
}

.symbol {
	opacity: 0.2;
}

@media (max-width: 1112px) {
	.container {
		width: 60%;
	}
	.text_wrapper,
	.info_wrapper {
		width: 80%;
	}
	#currencyList {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 812px) {
	#currencyList {
		grid-template-columns: repeat(1, 1fr);
	}
	#modal {
		top: 100px !important;
	}
}

@media (max-width: 736px) {
	.container {
		width: 80%;
	}
	.text_wrapper,
	.info_wrapper {
		width: 100%;
	}
}